 body {
  margin: 10;
 }
 .container{
  background-image:url("Images/NP_School_Map\(Revised\).jpg");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
 }
 /* Header
 nav {
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: gray;
  padding: 5px 20px;
  
}
 .header{
  flex: 1;
 }
 .header img{
  display: block;
  width: 150px; 
  margin-right: 30px; 
} */

 /*Background*/
 .bgimg{

  
    position: relative;
    
    max-width: 760px;
    height: auto;
    width: 100%;
    padding-top: 42%;
    
    margin: 0 auto;
  }

button{
  position: relative;
  max-width:800px;
  background-color: transparent;
  border: transparent;
  margin: 0 auto;
  cursor:pointer;
}
  /* SOE */
.soe{
  color: rgb(100, 232, 255);
  right: -310px;
  bottom: 290px;
}

/* ICT */
.ict{
  right: -350px;
  bottom: 150px;
}

/* HS */
.hs{
  right: -150px;
  bottom: 160px;
}
/* DE */
.de{
  right: -170px;
  bottom: 205px;
}

/* BA */
.ba{
  right: -205px;
  bottom: 100px;
}

/* HMS */
.hms{
  right: -115px;
  bottom: 130px;
}

/* LSCT */
.lsct{
  right: -85px;
  bottom: 132px;
}

/* FMS */
.fms{
  right: -160px;
  bottom: 140px;
}

  /* test */
  /* The Modal (background) */
.modal{
  display:none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.Modals {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  
}

/* The SOE Close Button */
.SOE-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.SOE-close:hover,
.SOE-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The ICT Close Button */
.ICT-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ICT-close:hover,
.ICT-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The BA Close Button */
.BA-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.BA-close:hover,
.BA-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The LSCT Close Button */
.LSCT-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.LSCT-close:hover,
.LSCT-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The DE Close Button */
.DE-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.DE-close:hover,
.DE-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The FMS Close Button */
.FMS-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.FMS-close:hover,
.FMS-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The HS Close Button */
.HS-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.HS-close:hover,
.HS-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The HMS Close Button */
.HMS-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.HMS-close:hover,
.HMS-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.contact {
  position: relative;
  max-width: 190px;
  bottom:350px;
  left: 600px;
}