 body {
  margin: 10;
 }
 .container{
  background-image:url("Images/NP_School_Map\(Revised\).jpg");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
 }

 /*Background*/
 .bgimg{

  
    position: relative;
    
    max-width: 760px;
    height: auto;
    width: 100%;
    padding-top: 42%;
    
    margin: 0 auto;
  }

button{
  position: relative;
  max-width:800px;
  background-color: transparent;
  border: transparent;
  margin: 0 auto;
  cursor:pointer;
}
  /* SOE */
.soe1{
  color: rgb(100, 232, 255);
  right: -302px;
  bottom: 494px;
}

.soe2{
  color: rgb(100, 232, 255);
  right: -493.2px;
  bottom: 168px;
}

/* ICT */
.ict{
  color: rgb(124, 0, 146);
  right: -364.5px;
  bottom: 360px;
}

/* HS */
.hs{
  color: rgb(2, 133, 0);
  right: -49.5px;
  bottom: 344px;
}
/* DE */
.de{
  color: rgb(121, 214, 0);
  right: -247px;
  bottom: 420px;
}

/* BA */
.ba{
  color: rgb(139, 0, 0);
  right: -162px;
  bottom: 199px;
}

/* HMS */
.hms{
  color: rgb(255, 183, 50);
  right: -122px;
  bottom: 299.6px;
}

/* LSCT */
.lsct{
  color: rgb(255, 115, 0);
  right: -37.5px;
  bottom: 302px;
}

/* FMS */
.fms{
  color: rgb(195, 0, 205);
  right: -133px;
  bottom: 315px;
}
/* IDS */
.ids{
  color: rgb(90, 159, 255);
  right: -174px;
  bottom: 370px;
}

  /* The Modal */
.modal{
  display:none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.Modals {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  
}

/* The SOE Close Button */
.SOE-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.SOE-close:hover,
.SOE-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The ICT Close Button */
.ICT-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ICT-close:hover,
.ICT-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The BA Close Button */
.BA-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.BA-close:hover,
.BA-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The LSCT Close Button */
.LSCT-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.LSCT-close:hover,
.LSCT-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The DE Close Button */
.DE-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.DE-close:hover,
.DE-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The FMS Close Button */
.FMS-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.FMS-close:hover,
.FMS-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The HS Close Button */
.HS-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.HS-close:hover,
.HS-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The HMS Close Button */
.HMS-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.HMS-close:hover,
.HMS-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The IDS Close Button */
.IDS-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.IDS-close:hover,
.IDS-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.contact {
  position: relative;
  max-width: 190px;
  bottom:350px;
  left: 600px;
}

/* link */
.container a{
  text-decoration: none;
}

