 body {
  margin: 0;
 }
 .container{
  position: relative;
  
  max-width: 900px;
 }
 /*Background*/
 .bgimg{
    background-image:url("Images/NP_School_Map.JPG");
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
  
    width: 100%;
    padding-top: 42%;
    
    margin: 0 auto;
  }

  /* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: black;
  } */
